.form-title {
  text-align: center;
  margin-top: 150px;
}

.form-title::after {
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  background: #f3b32a;
  margin: 0 auto;
  margin-top: 20px;
}

.form-title h2 {
  font-weight: bold;
  color: #f3b32a;
}

.form-title span {
  display: inline;
  color: #000;
}

.form-title p {
  width: 50%;
  margin: 0 auto;
}

.form-item {
  text-align: center;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
  margin:  auto;
  margin-top: 150px;
}

.form-item input {
  max-height: 30px;
}

.form {
  display: flex;
  flex-direction: column;
}

.message-input textarea {
  width: 70%;
}

.inputs-container {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.inputs-container input {
  width: 15%;
  max-width: 400px;
  height: 40px;
  min-width: 200px;
}

.form-button {
  width: 150px;
  text-align: center;
  margin: auto;
  border-radius: 20px;
  background-color: #f3b32a;
  color: #fff;
  cursor: pointer;
  padding: 10px;

  font-weight: 600;
  border: none;
}

.form-button:hover {
  background-color: #fff;
  color: #f3b32a;

  transition: all 0.3s ease-in-out;
}

::placeholder {
  padding: 10px;
}

.inputs-container input {
  border: 1px solid lightgray;
}

.inputs-container input:focus {
  outline: none;
  border: 1px solid #f3b32a;
}

textarea {
  border: 1px solid lightgray;
}

textarea:focus {
  outline: none;
  border: 1px solid #f3b32a;
}


@media screen and (max-width: 720px) {
 

  .inputs-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }

  .inputs-container input {
    width: 300px;
  }


}




.form-section .message.success {
  color: green;
}

.form-section .message.error {
  color: red;
}