@media screen and (max-width: 720px) {
  .info-mini-containers {
    display: flex;
  
    gap: 1px;
    width: 100%;
  }

  .about-container {
    width: 90%;
    margin: 120px auto;


  }



  .about-description {
    margin-top: 50px;

  }


  .up-button {
    right: 10px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    padding: 5px;
  }


  .download-buttons-container {
    justify-content: center;

  }


  .social-media-container {
    justify-content: center;

  }

  .inputs-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }

  .inputs-container input {
    width: 300px;
  }

  .landing-description span {
    font-size: 25px;
  }

  .landing-description h1 {
    font-size: 25px;
  }

  #main {
    font-size: 15px;
  }


}



@media screen and (min-width:720px) and (max-width: 1024px) {

  .about-description {
    margin-top: 50px
  }

}



@media screen and (min-width: 1000px) and (max-width: 1130px) {
  .about-container {
    flex-direction: column;

  }

  .about-description {
    margin-top: 50px
  }


}

.form-section .message.success {
  color: green;
}

.form-section .message.error {
  color: red;
}