.my-services-landing {
  text-align: center;
  width: 60%;
  margin: 150px auto;
}

.my-services-landing span {
  color: #f3b32a;
}

.my-services-landing p {
  margin: 0 auto;
}

.underline-services {
  width: 100px;
  height: 2px;
  background-color: #f3b32a;
  margin: 0 auto;
  margin-top: 30px;
}

.services-box-container {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  overflow: hidden;
}

.service-box {
  width: 30%;
  border-radius: 10px;
  border: 0.5px solid lightgray;
  min-width: 300px;
  max-width: 350px;
  min-height: 280px;
  padding: 15px;
}

.service-box i {
  font-size: 50px;
  color: #f3b32a;
}

.service-box h3 {
  font-size: 22px;
  font-weight: bold;
  
}

.service-box:hover {
  background-color: #f3b32a;
  color: #fff;

  transition: 0.1s;
}

.service-box:hover h3 {
  color: #fff;
}

.service-box:hover i {
  color: #fff;
}



@media screen and (max-width: 720px) {
  .info-mini-containers {
    display: flex;

    gap: 1px;
    width: 100%;
  }

  .about-container {
    width: 90%;
    margin: 120px auto;


  }



  .about-description {
    margin-top: 50px;

  }


  .up-button {
    right: 10px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    padding: 5px;
  }


  .download-buttons-container {
    justify-content: center;

  }


  .social-media-container {
    justify-content: center;

  }

  .inputs-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }

  .inputs-container input {
    width: 300px;
  }

  .landing-description span {
    font-size: 25px;
  }

  .landing-description h1 {
    font-size: 25px;
  }

  #main {
    font-size: 15px;
  }


}



@media screen and (min-width:720px) and (max-width: 1024px) {

  .about-description {
    margin-top: 50px
  }

}



@media screen and (min-width: 1000px) and (max-width: 1130px) {
  .about-container {
    flex-direction: column;

  }

  .about-description {
    margin-top: 50px
  }


}

.form-section .message.success {
  color: green;
}

.form-section .message.error {
  color: red;
}