* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;

}

.main-landing.dark  {
  background-color: #000;
  color: white;
}

.main-landing.dark .form-title h2::before {
  color: #fff;
}

.main-landing.dark .work-buttons-container button:hover {
  background-color: #f3b32a;
  color: #fff;
  transition: 0.3s;
}



.main-landing.dark .my-navbar {
  background-color: #000 ;
  
}


.main-landing.dark .my-nav-ul li>a{
  color: #fff;
}





